@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');
		body {
      font-family: 'Nunito Sans', sans-serif;
    background-color: #000000;
}
		* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li {
    background-color: rgba(31, 30, 30, 0.438);
    width: 18rem;
    height: 17rem;
    float: left;
    display: flex;
    flex-direction: column;
    margin: 15px;
    backdrop-filter: blur(2px);
    border-radius: 50px;
   
}
li:hover{
  background-color: rgba(51, 51, 51, 0.479);
} 
		
li img {
  padding-top: 10px;
	width: 80%;
  height: 83%;
  border-radius: 50px;
  
		}

		
li label {
    color: #f6f5f5f8;
    display: left;
    display: inline-block;
    background-color: rgba(93, 91, 91, 0.561);
    margin-top: 6px;
    font-size: 12px;
    border-radius: 22px;
    max-width:16rem;
    padding: 2px;
}
		
span{
  font-size: 16px;
  color:white
}

