.searchbar{
    
    font-size: 2rem;
    font-weight: 500;
    height: 2.5rem;
    background-color: rgba(0, 0, 255, 0.15);
    border: none;
    border-radius: 20px;
    color: rgba(255, 255, 255, 0.692);
   
}



.searchbar::placeholder{
    color: #ffffff8f; 
    font-size: larger;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.sb_btn{
    padding: 2px;
  background-color: transparent;
    font-size: 2rem;
    border-radius: 9999px;
    font-family: 'Nunito', sans-serif;
    color: #ffffff8f; 
    margin-left: 0.5rem;
    border: transparent;
    width: 4.5rem;
    height: 2.8rem;
}

.sb_btn:hover{
    background-color: #ffffff55;
    border:outset 1px;
}