@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap');

.maintitle {
    left: 0px;
    width: 960px;
    height: 107px;
    text-align: center;
    font: normal normal normal 90px/109px Yeseva One;
    letter-spacing: 0px;
    color: #fbff00;
    opacity: 1;
}

.foodmain {
    top: 414px;
    left: 0px;
    width: 960px;
    height: 73px;
    text-align: center;
    font: normal normal 300 60px/73px Montserrat;
    letter-spacing: 0px;
    color: #FFC400;
    opacity: 1;
}

.Sub {
    top: 514px;
    width: 960px;
    height: 49px;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 0px;
    color: #fbfbfbd2;
    opacity: 1;
}

.btn {
    top: 10rem;
    left: 10rem;
    background-color: rgba(0, 0, 0, 0);
    width: 15rem;
    height: 5rem;
    border: 2px solid #ffffff;
    border-radius: 70px;
    color: #ffffffec;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 38px;
    font-weight: 700;
    opacity: 1;
}


.btn:hover {
    background: #20201fad 0rem 0rem no-repeat padding-box;
    color: white;
    cursor: pointer;
}



.landing {
    
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center
}

.container {
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(2px);
    background-color: #0000001f;
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center
}